Label {
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
}

#LapTimeLabel{
	-fx-background-color: #08088A;
	-fx-text-fill: #fff;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
}
#startBotton {
	-fx-background-color: #58ACFA;
    -fx-border-color: #01A9DB;
    -fx-text-fill: #fff;
}

#startBotton:pressed{
	-fx-background-color: #0080FF;
    -fx-border-color: #01A9DB;
    -fx-text-fill: #fff;
}
#ReturnBotton {
	-fx-background-color:#f78181;
	-fx-border-color: #FA5858
}
