Label {
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
}
.button {
    -fx-background-color: #58ACFA;
    -fx-text-fill: #fff;
}

.button:pressed {
	-fx-background-color: #0080FF;
    -fx-border-color: #01A9DB;
    -fx-text-fill: #fff;
}#CloseButton{
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-border-color: #FF0000;
	-fx-border-radius: 10;
	-fx-background-color: #FF0000;
	-fx-background-radius: 10.0;
    -fx-text-fill: #fff;
}
#CloseButton:pressed{
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
	-fx-border-color: #DF0101;
	-fx-border-radius: 10;
	-fx-background-color: #DF0101;
	-fx-background-radius: 10.0;
    -fx-text-fill: #fff;
}
#AddScooterVBox{
	-fx-border-style: dashed;
	-fx-border-radius:10;
}

#FindScooterVBox{
	-fx-border-style: dashed;
	-fx-border-radius:10;
}
#ScooterListLabel{
	-fx-background-color: #08088A;
	-fx-text-fill: #fff;
	-fx-font-family: "Arial";
	-fx-font-weight: bold;
}


